<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.siteTitle}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/favicon.png">
</head>

<body class="p-{{pageClass}}">
    <div class="site-wrapper">
        <nav>
            <ul>
                {% assign sortedPages = collections.page | sort: "data.navOrder" %}
                {% for page in sortedPages %}
                {% if page.data.navTitle == "Home" or page.data.navTitle == "Schedule" or page.data.navTitle ==
                "Results" or
                page.data.navTitle == "Players" %}
                <li class="t-{{ page.data.pageClass }}">
                    <a href="{{ page.url | url }}">{{ page.data.navTitle }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <header class="site-header">
            <img src="/img/mlb-logo.png" alt="MLB Logo" class="mlb-logo">
        </header>

        <main>
            <h1>{{ pageTitle }}</h1>
            {{ content }}
        </main>

        <footer class="site-footer">
            <p>Created by David Castellano</p>
            <a href="#" class="back-to-top">Back to Top ↑</a>
        </footer>

    </div>
</body>
<script src="/js/scripts.js"></script>

</html>